* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E5E7EB;
    scroll-behavior: smooth;
}
body {
    background-color: #020617;
    display: flex;
    flex-direction:column;
    align-items: center; 
    justify-content: space-between;
}
header {
    background-color: #0F172A;
    width:100%;
    display:flex;
    position:fixed;
    justify-content:space-between;
    padding:10px 110px;
    z-index:999;/*عشان ما ييجي عنصر يطلع فوقها*/
    align-items:center;
}
nav a {
    text-decoration: none; /*بتشيل الخط اللي تحت الرابط*/
    padding-left: 30px;
    font-size: 1.1em; /*تعتمد على حجم الخط للعنصر الاب*/
    font-weight: 500;
    transition: 0.3s;
}
nav a:hover{
    color:darkviolet;
}
.logo {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 700;
    background-color: darkviolet;
    border-radius: 10px;
    padding: 2px 5px;
}
.about {
    font-family: 'Playfair Display', serif;
    font-weight: 200; /*دخن الخط*/
    margin-bottom: 200px; /*لانو الهيدر ثابت وبصير الكلام تحتو*/
    font-size: 1rem;
}
main {
    margin-top: 80px; /*عشان الهيدر ما يغطي عليها */
    display: flex;
    height: 170vh; /*عشان طول الصفحة يصير اكبر من الصفحة*/
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text2{
    text-align:center;/*عشان الكتابة تصير بالنص*/
}
.inputsection{
    width:70%;/*عشان حقل الادخال يكبر معي */
    display:flex;
    align-items:center;
    justify-content:center;
}
.inputtext {
    width: 80%; /*عشان حقل الادخال يصير بحجم السيكشن تبعو*/
    border: none;
    outline: none; /*عشان تشيل البوردر اللي بظهر لما تكبس عليه*/
    padding: 10px;
    border-radius: 20px;
    background-color: #E5E7EB;
    color:black;
    font-weight:100;
}
.buttonadd {
    color: black;
    background-color: #E5E7EB;
    padding: 10px 15px; /*اذا عملتلو ويدث بدل بادنج رح يصير صغير كثير على الشاشات الصغيرة*/
    border: none;
    transition: 0.3s; /*عشان لما اعطيه هوفر اي تغير يصير بسلاسة مش مباشرة*/
    border-radius:10px;
    cursor:pointer;
}
.buttonadd:hover {
    background-color: darkviolet;
}
.state{
    display:flex;
}
    .state button {
        color: black;
        border: none;
        padding: 4px 10px;
        border-radius: 20px;
        transition: 0.3s;
        background-color: #E5E7EB;
        margin-top: 40px;
        margin-bottom:80px;
        margin-right:15px;
    }
.state button:hover {
     background-color: darkviolet;
}
.workspace{
    width:100%;
    height:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.checkboxsection{
    width:40%;
    height:50%;
}
h1 {
    font-size: 4em;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2em;
}
h3 {
    text-align: center;
}



























    /*
    
    #box-sizing:border-box; 
    عشان اذا اعطيت بادنج ما ينحسب زيادة عن 
    الويدث والويدث يزيد هاي بتخلي البادنق ينحسب من ضمن الويدث
    
    
    
    
    
    
    
    
    
    
    

*/